root { 
    display: block;
}

body {
    font: 12pt verdana;
    line-height: 20pt;
}

#form {
    max-width: 1000px;
    margin: 100px auto;
}

#about, .question {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid transparent;
}

#about:hover, .question:hover {
    box-shadow: 0px 0px 15px #AAA;
    border: 1px solid #AAA;
}

.ok {
    background: #ccffcc;
}

.error {
    background: #ffcccc;
}
.question-title {
    color: #999999;
}

.inline {
    float: left;
}

.question-text {
    
}

textarea, input {
    font: 12pt verdana;
}

textarea {
    line-height: 20pt;
}

.question-input {
    
}

.button {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
}

.button-submit {
    color: #ffffff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.button-submit:hover {
    background-color: #4ca84c;
}

.button-submit:active {
    background-color: #2ca82c;
}

input + .value{
    padding: 1px 4px;
}

textarea + .value{
    padding: 5px 5px;
}

.fixed-bar {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1030;
    margin-bottom: 0;
    height: 80px;
    width: 100%;
    background: #eeeeee;
    margin: 0 auto;
    box-shadow: 0px 0px 15px #AAA;
}

.complite {
    color: #2ca82c;
}

#title {
    width: 100%;
    text-align: center;
}

h1 {
    font: 16pt verdana;
}

h2 {
    font: 14pt verdana;
}

h3 {
    font: 10pt verdana;
}

#status {
    text-align: center;
}

#about label {
    display: block;
    float: left;
    width: 380px;
}

#about > div {
    margin: 5px;
}

#block_submit {
    text-align: center;
}

.required > label::after {
    content: " *";
    color: red;
}

.field_error {
    border: 2px solid #F00;
    box-shadow: 0px 0px 15px #F00;
}